@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&display=swap');

.body{
    overflow-x: hidden;
    background: #1b2735;
}

html{
    scroll-behavior: smooth;
}

.aiOutput{
    white-space: pre-wrap;
    color: white;
}